doctype html
html
    head
        meta(charset='utf-8')
        // build:css(builds/tmp) css/controls.css
        link(href='css/controls.css', rel='stylesheet')
        // endbuild
    body

        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js')
        // build:js(builds/tmp) js/controls.js
        script(src='../../bower_components/hammerjs/hammer.js')
        script(src='js/controls.js')
        // endbuild
