doctype html
html
    head
        meta(charset='utf-8')
        // build:css(builds/tmp) css/app.css
        link(href='../../bower_components/highlightjs/styles/default.css', rel='stylesheet')
        link(href='../../bower_components/highlightjs/styles/tomorrow-night-bright.css', rel='stylesheet')
        link(href='css/app.css', rel='stylesheet')
        // endbuild
    body
        #impress
            include slides/title.pug
            include slides/what-is-fp.pug
            include slides/imperative.pug
            include slides/functional.pug
            include slides/what-makes-a-lang-func.pug
            include slides/first-class-functions.pug
            include slides/higher-order-functions.pug
            include slides/lambda-function.pug
            include slides/closure.pug
            include slides/recursion.pug
            include slides/what-could-we-use-in-js-from-fp.pug
            include slides/what-is-a-side-effect.pug
            include slides/pure-functions.pug
            include slides/referential-transparency.pug
            include slides/more-pure-functions.pug
            include slides/memoize.pug
            include slides/immutable-data.pug
            include slides/mutable-data.pug
            include slides/lazy-evaluation.pug
            include slides/partial-application.pug
            include slides/curry.pug
            include slides/compose.pug
            include slides/bright-shine.pug

        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js')
        // build:js(builds/tmp) js/app.js
        script(src='../../bower_components/highlightjs/highlight.pack.js')
        script(src='../../bower_components/impress.js/js/impress.js')
        script(src='js/app.js')
        // endbuild
