doctype html
html
    head
        meta(charset='utf-8')
        // build:css(builds/tmp) css/app.css
        link(href='../../bower_components/highlightjs/styles/default.css', rel='stylesheet')
        link(href='../../bower_components/highlightjs/styles/tomorrow-night-bright.css', rel='stylesheet')
        link(href='css/app.css', rel='stylesheet')
        // endbuild
    body#useful-resources
        h1 Useful resources
        h2 Presentations
        ul
            li
                a(target='_blank',href='http://scott.sauyet.com/Javascript/Talk/FunctionalProgramming/') Functional Programming - Scott Sauyet
            li
                a(target='_blank',href='http://slides.com/gsklee/functional-programming-in-5-minutes') Functional Programming in 5 Minutes - G. Kay Lee
            li
                a(target='_blank',href='http://www.slideshare.net/tmont/introduction-to-functional-programming-in-javascript') Introduction to Functional Programming in JavaScript - Tommy Montgomery
            li
                a(target='_blank',href='http://www.slideshare.net/osteele/oliver-steele-functional-javascript-presentation') Practical Functional Javascript - Oliver Steele
            li
                a(target='_blank',href='http://www.labri.fr/perso/renault/working/research/files/jdev2015.0.pdf') Javascript Functional Programming by Example - D. Renault
        h2 Articles
        ul
            li
                a(target='_blank',href='https://medium.com/javascript-scene/the-two-pillars-of-javascript-ee6f3281e7f3') The Two Pillars of JavaScript - Eric Eliott
            li
                a(target='_blank',href='https://www.smashingmagazine.com/2014/07/dont-be-scared-of-functional-programming/') Don’t Be Scared Of Functional Programming - Jonathon Morgan
            li
                a(target='_blank',href='http://www.sitepoint.com/introduction-functional-javascript/') An Introduction to Functional JavaScript - M. David Green
            li
                a(target='_blank',href='http://stephen-young.me.uk/2013/01/20/functional-programming-with-javascript.html') Functional programming with Javascript - Stephen Young
            li
                a(target='_blank',href='http://jrsinclair.com/articles/2016/gentle-introduction-to-functional-javascript-intro/') A GENTLE INTRODUCTION TO FUNCTIONAL JAVASCRIPT - James Sinclair
            li
                a(target='_blank',href='http://srirangan.net/2011-12-functional-programming-in-javascript') An Introduction to Functional Programming in JavaScript - Srirangan
            li
                a(target='_blank',href='http://www.datchley.name/getting-functional-with-javascript-part-1/') Getting Functional with Javascript - Dave Atchley
            li
                a(target='_blank',href='https://dzone.com/refcardz/functional-programming-with-javascript') Functional Programming in JavaScript - Luis Atencio
            li
                a(target='_blank',href='http://blog.mgechev.com/2013/01/21/functional-programming-with-javascript/') Functional programming with JavaScript - Minko Gechev
            li
                a(target='_blank',href='https://dreyacosta.com/functional-javascript/') Functional JavaScript, some concepts - David Rey
            li
                a(target='_blank',href='https://bjpelc.wordpress.com/2015/02/06/an-introduction-to-functional-programming-in-javascript/') An Introduction to Functional Programming in JavaScript - Benjamin Pelc
            li
                a(target='_blank',href='http://interglacial.com/hoj/hoj.html') Higher-Order JavaScript - Sean M. Burke
            li
                a(target='_blank',href='https://opensource.com/article/17/6/functional-javascript') An introduction to functional programming in JavaScript - Matt Banz
        h2 Books
        h3 Offline
        ul
            li
                a(target='_blank',href='http://www.amazon.com/Functional-JavaScript-Introducing-Programming-Underscore-js/dp/1449360726') Functional JavaScript - Michael Fogus - 2013
            li
                a(target='_blank',href='http://www.amazon.com/Programming-JavaScript-Applications-Architecture-Libraries/dp/1491950293') Programming JavaScript Applications - Eric Eliott - 2014
            li
                a(target='_blank',href='http://www.amazon.com/Effective-JavaScript-Specific-Software-Development/dp/0321812182') Effective JavaScript - David Herman - 2014
            li
                a(target='_blank',href='http://www.amazon.com/Functional-Programming-JavaScript-Dan-Mantyla/dp/1784398225') Functional programming in javascript - Dan Mantyla - 2015
            li
                a(target='_blank',href='http://www.amazon.com/Functional-Programming-JavaScript-Luis-Atencio/dp/1617292826') Functional Programming in JavaScript - Luis Atencio - 2016
        h3 Online
        ul
            li
                a(target='_blank',href='https://leanpub.com/javascript-allonge/read') JavaScript Allongé - Reginald Braithwaite - 2013
            li
                a(target='_blank',href='http://eloquentjavascript.net/') Eloquent JavaScript - Marijn Haverbeke - 2014
            li
                a(target='_blank',href='https://leanpub.com/javascript-spessore/read') JavaScript Spessore - Reginald Braithwaite - 2014
            li
                a(target='_blank',href='https://drboolean.gitbooks.io/mostly-adequate-guide/content/') Mostly Adequate Guide to Functional Programming - Brian Lonsdorf (Dr. Boolean) - 2015
        h2 Strenghten your skills
        ul
            li
                a(target='_blank',href='http://reactivex.io/learnrx/') http://reactivex.io/learnrx/
            li
                a(target='_blank',href='https://www.codeeval.com/') https://www.codeeval.com/
            li
                a(target='_blank',href='http://www.codewars.com/') http://www.codewars.com/
        h2 Frameworks / Libraries
        ul
            li
                a(target='_blank',href='http://eliperelman.com/fn.js/') fnjs
            li
                a(target='_blank',href='https://baconjs.github.io/') Bacon.js
            li
                a(target='_blank',href='http://bilby.brianmckenna.org/') bilby.js
            li
                a(target='_blank',href='http://danieltao.com/lazy.js/') lazy.js
            li
                a(target='_blank',href='https://rpominov.github.io/kefir/') Kefir.js
            li
                a(target='_blank',href='http://ramdajs.com/0.19.1/index.html') Ramda
            li
                a(target='_blank',href='https://github.com/santoshrajan/frpjs') frpjs
            li
                a(target='_blank',href='http://fitzgen.github.io/wu.js/') wu.js
            li
                a(target='_blank',href='https://github.com/fogus/lemonad') lemonad
