@font-face {
    font-family: 'orbitronregular';
    src: url('../fonts/orbitron_medium-webfont.eot');
    src: url('../fonts/orbitron_medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/orbitron_medium-webfont.woff2') format('woff2'),
    url('../fonts/orbitron_medium-webfont.woff') format('woff'),
    url('../fonts/orbitron_medium-webfont.ttf') format('truetype'),
    url('../fonts/orbitron_medium-webfont.svg#orbitronregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nova_squarebook';
    src: url('../fonts/novasquare-webfont.eot');
    src: url('../fonts/novasquare-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/novasquare-webfont.woff2') format('woff2'),
    url('../fonts/novasquare-webfont.woff') format('woff'),
    url('../fonts/novasquare-webfont.ttf') format('truetype'),
    url('../fonts/novasquare-webfont.svg#nova_squarebook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo2bold';
    src: url('../fonts/exo2.0-bold-webfont.eot');
    src: url('../fonts/exo2.0-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exo2.0-bold-webfont.woff2') format('woff2'),
    url('../fonts/exo2.0-bold-webfont.woff') format('woff'),
    url('../fonts/exo2.0-bold-webfont.ttf') format('truetype'),
    url('../fonts/exo2.0-bold-webfont.svg#exo_2.0bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo2medium';
    src: url('../fonts/exo2.0-medium-webfont.eot');
    src: url('../fonts/exo2.0-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exo2.0-medium-webfont.woff2') format('woff2'),
    url('../fonts/exo2.0-medium-webfont.woff') format('woff'),
    url('../fonts/exo2.0-medium-webfont.ttf') format('truetype'),
    url('../fonts/exo2.0-medium-webfont.svg#exo_2.0medium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo2regular';
    src: url('../fonts/exo2.0-regular-webfont.eot');
    src: url('../fonts/exo2.0-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exo2.0-regular-webfont.woff2') format('woff2'),
    url('../fonts/exo2.0-regular-webfont.woff') format('woff'),
    url('../fonts/exo2.0-regular-webfont.ttf') format('truetype'),
    url('../fonts/exo2.0-regular-webfont.svg#exo_2.0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo2light';
    src: url('../fonts/exo2.0-light-webfont.eot');
    src: url('../fonts/exo2.0-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exo2.0-light-webfont.woff2') format('woff2'),
    url('../fonts/exo2.0-light-webfont.woff') format('woff'),
    url('../fonts/exo2.0-light-webfont.ttf') format('truetype'),
    url('../fonts/exo2.0-light-webfont.svg#exo_2.0light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exo2thin';
    src: url('../fonts/exo2.0-thin-webfont.eot');
    src: url('../fonts/exo2.0-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/exo2.0-thin-webfont.woff2') format('woff2'),
    url('../fonts/exo2.0-thin-webfont.woff') format('woff'),
    url('../fonts/exo2.0-thin-webfont.ttf') format('truetype'),
    url('../fonts/exo2.0-thin-webfont.svg#exo_2.0thin') format('svg');
    font-weight: normal;
    font-style: normal;

}
