html {
    font-size: 62.5%;
    text-rendering: optimizeSpeed;
}

body {
    font: 3rem 'exo2light', Arial;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 8rem;
    font-family: 'orbitronregular', Verdana;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    white-space: nowrap;
}
h1.white {
    text-shadow: 5px 5px rgba(0, 0, 0, 1);
}

h2 {
    margin: 0;
    padding: 1rem 0;
    font-family: 'exo2light', Arial;
    font-size: 4rem;
    color: #449baf;
    text-shadow: 1px 1px #000;
    white-space: nowrap;
}

h3 {
    margin: 0;
    padding: 0;
    font-family: 'exo2light', Arial;
    font-size: 3rem;
    color: #ccc;
    text-shadow: 1px 1px #000;
    white-space: nowrap;
}

p {
    margin: 0;
    color: #888;
}

a {
    color: #ccc;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    white-space: nowrap;
}

small {
    font-size: 2rem;
}

.nowrap {
    white-space: nowrap;
}

pre {
    font-size: 2.5rem;
}

ul {

}

ul li,
ul li a {
    position: relative;
    padding: 1rem 3rem;
    list-style-type: none;
    color: #ccc;
    text-shadow: 2px 2px rgba(0, 0, 0, 1);
    white-space: nowrap;
}


ul li:after {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: #449baf;
}

.gray {
    color: var(--disabled-font-color);
}
.white {
    color: #fff;
}
