#bright-shine.step(
    data-rotate-x=-90
    data-rotate-y=0
    data-rotate-z=90
    data-y=2000
    data-scale=50
)
    h1.white
        | Bright light
        br
        | shines upon us
    h2 Now we know the basic concepts of functional javascript
    h3 Thank you and don't forget to think functional
    br
    p
        | Csaba Tuncsik
        br
        small
            | Front-End developer - Casino
        br
        | ctuncsik@theworkshop.com
    
    br
    p
        a(href="useful-resources.html") Useful resources
