#closure.step(
    data-rotate-x=180
    data-z=-1500
    data-y=-1500
    data-scale=100
)
    h1 Closure
    h2 If a function defined in another function
    h3 The inner function remembers it's surrounding scope even after the parent function returned
    p It does not matter how deep it is, it has access the whole upper scope tree
    pre
        code.javascript.
            var closure = (function(){
                var secret = 'do not tell anyone';
                var deeperScope = function(){
                    var deepSecret = 'few can know about this';
                    return function(){
                        // I know all the secrets
                        console.log(deepSecret);
                        console.log(secret);
                        // And public (because of dynamic scope)
                        console.log(this.public);

                    }
                };
                return {
                    public: 'everybody knows',
                    tellMeTheSecret: function(){
                        // I have this object in my scope
                        console.log(this.public);
                        // And also secret
                        console.log(secret);
                    },
                    tellMeDeepSecret: deeperScope()
                };
            })();

            closure.tellMeTheSecret();
            // everybody knows
            // do not tell anyone
            closure.tellMeDeepSecret();
            // few can know about this
            // do not tell anyone
            // everybody knows
