#compose.step(
    data-rotate-x=180
    data-z=-1500
    data-y=-1500
    data-scale=100
)
    h1 Function composition
    h2
     | With function composition we can build
     br
     | more robust functions from a couple of small functions
    h3 Compose plays very nice with curry
    pre
        code.javascript.
            var compose = function compose() {
                var functions = Array.prototype.slice.call(arguments);
                return functions.reduce(function(f, g) {
                    return function() {
                        return f(g.apply(this, arguments));
                    };
                });
            };
            var lorem = 'Lorem ipsum dolor sit amet,\n' +
                'consectetur adipiscing elit.\n' +
                'Aenean ipsum tortor, dictum et viverra ut,\n' +
                'quis mattis nisl magna nec lorem';
            var replace = curry(function(find, replacement, str) {
                var regex = new RegExp(find, 'g');
                return str.replace(regex, replacement);
            });
            var wrapWith = curry(function(tag, str) {
                return '&lt;' + tag + '&gt;' + str + '&lt;/' + tag + '&gt;';
            });
            var htmlifyLorem = compose(
                wrapWith('blockquote'),
                wrapWith('p'),
                replace('\n', '&lt;br/&gt;'),
                replace('ipsum', wrapWith('em', 'sodales'))
            );
            console.log(htmlifyLorem(lorem));
