#curry.step(
    data-rotate-z=-90
    data-rotate-y=-90
    data-x=-1000
    data-y=-1500
    data-scale=10
)
    h1 Curry
    h2 You can break down a function into a series of functions
    h3
        | A curried function will keep returning a function waiting for fewer arguments
        br
        | until it reaches the length of the arguments of the original function
    pre
        code.javascript.
            var curry = function (fn) {
                var args = Array.prototype.slice.call(arguments);
                // Since we call curry recursively if it has enough arguments to run
                // just cut out the first one which was the curried function actually
                // and call it with the rest (all the arguments it needs)
                if (args.length - 1 >= fn.length) return fn.apply(this, args.slice(1));
                // If there are not enough arguments just return a function waiting for the rest
                return function () {
                    return curry.apply(this, args.concat.apply(args, arguments));
                };
            };

            var add3Numbers = curry(function(a,b,c){return a+b+c}); // function waiting for three arguments
            var oneCurried = add3Numbers(1); // function waiting for two arguments
            var oneAndTwoCurried = oneCurried(2); // function waiting for one, the last arguments
            var addThirdAndGetResult = oneAndTwoCurried(3); // returned value: 6
            console.log(addThirdAndGetResult); // 6

            // Also you can pass the arguments in any portion
            add3Numbers(1,2,3) === add3Numbers(1)(2)(3);
            add3Numbers(1,2)(3) === add3Numbers(1)(2,3);
            add3Numbers()(1)(2)()()(3) === add3Numbers()()(1)()(2,3);

            var wrapWith = curry(function(tag, str) { return '&lt;' + tag + '&gt;' + str + '&lt;/' + tag + '&gt;'; });
            var bloquote = wrapWith('blockquote');
            console.log(bloquote('I am in a quote')); // &lt;blockquote&gt;I am in a quote&lt;/blockquote&gt;
