#first-class-functions.step(
    data-rotate-x=90
    data-rotate-y=-90
    data-x=7000
    data-y=-8000
    data-z=-2000
    data-scale=10
)
    h1 First-class function
    h2
        | If a language supports the usage of a function
        br
        | like it was any other data type
    h3 (boolean, string, number etc...)
    pre
        code.javascript.
            // defining as a single variable
            var func = function (){};
            // invoking
            func();

            // storing as an array item
            var arr = [null, 1, true, 'three', function(){}];
            // invoking
            arr[4]();

            // setting for a key value in an object
            var obj = {
                id: 1001,
                getId: function(){
                    return this.id;
                }
            };
            // invoking
            obj.getId();
