#functional.step(
    data-rotate-x=90
    data-rotate-y=90
    data-rotate-z=-90
    data-y=-5000
    data-z=-5000
    data-scale=10
)
    h1 Functional
    pre
        code.javascript.
            var odds = [1,2,3,4,5,6,7,8,9,10].filter(function(number){
                return number % 2 !== 0;
            });
            // ES6
            var odds = [1,2,3,4,5,6,7,8,9,10].filter(number => number % 2 !== 0);
            console.log(odds);
