#higher-order-functions.step(
    data-rotate-z=90
    data-x=8000
    data-y=-8000
    data-scale=10
)
    h1 Higher order function
    h2 If a language supports
    ul
        li passing functions as an argument to other functions
        li functions returning functions
    pre
        code.javascript.
            // Passing a function as an argument
            var higherFuncAccept = function(func) {
                func();
            };
            // usage
            higherFuncAccept(function() { console.log(this); });

            // Returning a function
            var higherFuncReturn = function() {
                    return function() {
                        console.log(this);
                    };
                };
                // usage
            var myReturnedFunction = higherFuncReturn();
            myReturnedFunction();

            // Passing a function, working with it and returning another
            var higherFuncBoth = function(func) {
                    var funcResult = func();
                    return function() {
                        console.log(funcResult);
                    };
                };
                // uasge
            var myFunction = higherFuncBoth(function() {
                return 'I am the result';
            });
            myFunction(); // I am the result
