#immutable-data.step(
    data-rotate-x=90
    data-rotate-y=90
    data-rotate-z=-90
    data-y=-5000
    data-z=-5000
    data-scale=10
)
    h1 Immutable data
    h2
        | Data is immutable if it is
        br
        | not liable or subject to change or alteration
    h3
        | In javascript primitive data types
        br
        | are immutable by design
    pre
        code.javascript.
            var str = "I'm immutable!";
            var otherStr = str.slice(4, 13);
            var split = str.split('');

            console.log(str);
            // I'm immutable!
            console.log(otherStr);
            // immutable
            console.log(split);
            // ["I", "'", "m", " ", "i", "m", "m", "u", "t", "a", "b", "l", "e", "!"]

            var num = 0.1234567;
            var precise = num.toPrecision(3);

            console.log(num);
            // 0.1234567
            console.log(typeof precise, precise);
            // string 0.123
