#imperative.step(
    data-rotate-x=90
    data-rotate-z=90
    data-x=-1000
    data-z=-5000
    data-scale=5
)
    h1 Imperative
    pre
        code.javascript.
            var numbers = [1,2,3,4,5,6,7,8,9,10];
            var odds = [];
            for (var i = 0; i < numbers.length; i++) {
                var number = numbers[i];
                if(number % 2 !== 0){
                    odds.push(number);
                }
            }
            console.log(odds);
