#lambda-function.step(
    data-rotate-z=-90
    data-rotate-y=-90
    data-x=-1000
    data-y=-1500
    data-scale=10
)
    h1 Lambda function
    h2 If a language supports anonymous functions
    h3 (lambda calculus, lambda expression)
    pre
        code.javascript.
            var doubles = [1,2,3,4,5].map(function(number){ return number * 2 });

            var sortedNumbers = [1,24,13,44,87,12,32].sort(function(a,b){ return a-b })

            window.addEventListener('click', function(e){
                console.log(e);
            }, false);

            // Lambda expression is introduced in ES6
            let doubles = [1,2,3,4,5].map(number => number * 2);

            var sortedNumbers = [1,24,13,44,87,12,32].sort((a,b) => a-b );

            window.addEventListener('click', e => {
                console.log(e);
            }, false);
