#lazy-evaluation.step(
    data-rotate-x=90
    data-rotate-y=-90
    data-x=7000
    data-y=-8000
    data-z=-2000
    data-scale=10
)
    h1 Lazy evaluation
    h2 or call-by-need
    h3
        | This is a strategy to delay function calls
        br
        | until its return value is needed or its job is needed to be done
    pre
        code.javascript.
            // Very expensive computation
            var compute = function(a,b,c){
                return a * b + c;
            };

            // With bind we can create a new function
            // with predefined arguments
            var computeWithLessParam = compute.bind(null, 2,3);
            computeWithLessParam(4); //10

            // With apply we can simply call
            // a function setting its scope and arguments as an array
            compute.apply(null, [2,3,4]); //10

            // If we use apply on bind
            // (which is a function so it has the apply method)
            // we implemented lazy evaluation
            var lazyComputation = compute.bind.apply(compute, [compute,2,3,4]);

            // We just need to create a function
            // that does the job for us
            var lazy = function (fn) {
                return fn.bind.apply(fn, arguments);
            }
            var computation = lazy(compute,2,3,4);
            // The moment has come I need the result
            computation(); // 10
