#memoization.step(
data-rotate-z=90
data-x=8000
data-y=-8000
data-scale=10

)
    h1 Memoization
    h2 We can cache the results of a function
    h3 It can be done only with referentially transparent functions
    pre
        code.javascript.
            var memoize = function(fn) {
                var cache = {};
                return function() {
                    var key = JSON.stringify(arguments);
                    if(key in cache){
                        console.log('I remember!');
                        return cache[key];
                    }
                    console.log('I do not remember so I work on it.');
                    cache[key] = fn.apply(fn, arguments);
                    return cache[key];
                };
            };
            var compute = function(a,b,c){ return a * b + c };
            var computeMemoized = memoize(compute);

            console.log(computeMemoized(2,3,4)); // I do not remember so I work on it
            // 10
            console.log(computeMemoized(2,3,4)); // I remember!
            // 10

            console.log(computeMemoized(34,45,79)); // I do not remember so I work on it
            // 1609
            console.log(computeMemoized(34,45,79)); // I remember!
            // 1609

            // Some time later we call the function with the same arguments
            console.log(computeMemoized(2,3,4)); // I remember!
            // 10
            console.log(computeMemoized(34,45,79)); // I remember!
            // 1609
