#more-pure-functions.step(
    data-rotate-x=90
    data-rotate-y=90
    data-z=-4000
    data-scale=10
)
    h1
        | Pure,
        br
        | referentially transparent
    h2 functions have a couple of very nice nature
    ul
        li testable, portable, memoizable, parallelizable
    pre
        code.javascript.
            var strings = ['erat', 'cursus', 'felis', 'adipiscing', 'dolor', 'gravida', 'bibendum', 'elit', 'amet', 'blandit'];
            var numbers = [10, 1, 5, 3, 2, 66, 33, 0, 45, 27];

            var merge = function (left, right) {
                var result = [], il = 0, ir = 0;
                while (il < left.length && ir < right.length) {
                    if (left[il] < right[ir]) result.push(left[il++]);
                    else result.push(right[ir++]);
                }
                return result.concat(left.slice(il)).concat(right.slice(ir));
            };

            var mergeSort = function (items) {
                if (items.length < 2) return items;
                var middle = Math.floor(items.length / 2),
                    left = items.slice(0, middle),
                    right = items.slice(middle);
                return merge(mergeSort(left), mergeSort(right));
            };

            mergeSort(strings); // ['adipiscing', 'amet', 'bibendum', 'blandit', 'cursus', 'dolor', 'elit', 'erat', 'felis', 'gravida']
            mergeSort(numbers); // [0, 1, 2, 3, 5, 10, 27, 33, 45, 66]

