#mutable-data.step(
    data-rotate-z=90
    data-x=8000
    data-y=-8000
    data-z=-2000
    data-scale=10
)
    h1 But
    h2 Javascript objects are mutable
    h3 (since array is an object it is also)
    pre
        code.javascript.
            var obj = {
                id: 1001,
                getId: function(){ return this.id }
            }
            obj.id = 1111;
            obj.setId = function(id){ this.id = id }
            // To prevent your object from modifications
            // you can use Object.freeze()
            Object.freeze(obj);
            obj.id = 1111; // silently does nothing
            obj.setId = function(id){ this.id = id } // silently doesn't add the property
            console.log(obj); // Object {id: 1001, getId: function()}

            var arr = [1,2,3];
            var first = arr.shift();
            console.log(arr); // [2,3]
            console.log(first); // 1
            // To solve this you can
            // clone the array easily with slice()
            var arr = [1,2,3];
            var first = arr.slice().shift();
            console.log(arr); // [1,2,3]
            console.log(first); // 1
