#partial-application.step(
    data-rotate-z=90
    data-x=8000
    data-y=-8000
    data-scale=10
)
    h1 Partial application
    h2 You can create a new function waiting for fewer arguments
        pre
            code.javascript.
                var compute = function(a, b, c) {
                    return a * b + c;
                };
                compute(2, 3, 4); // 10

                // A basic implementation is bind
                var computeWithLessParam = compute.bind(null, 2); // function (b,c)
                computeWithLessParam(3, 4); // 10

                var computeWithLastParam = compute.bind(null, 2, 3); // function (c)
                computeWithLastParam(4); // 10

                // A more appropriate implementation
                var partialApply = function (fn) {
                    // Return a function which accepts the preloaded arguments
                    return function () {
                        var args = Array.prototype.slice.call(arguments);
                        // Return another function which accepts the remaining arguments
                        return function () {
                            return fn.apply(this, args.concat.apply(args, arguments));
                        };
                    };
                };
                var computePartialApply = partialApply(function (a, b, c) {
                    return a * b + c;
                });

                var computeWithLessParam = computePartialApply(2); // function (b,c)
                computeWithLessParam(3, 4); // 10

                var computeWithLastParam = computePartialApply(2, 3); // function (c)
                computeWithLastParam(4); // 10
