#pure-functions.step(
    data-scale=100
    data-z=1000
)
    h1 Pure functions
    h2 A pure function
    ul
        li has no side effects
        li
            | does not suffer from side effects
            br
            | from other code either
        li does not read global variables
    pre
        code.javascript.
            var numbers = [1,2,3,4,5];

            // impure, has side effect
            numbers.splice(0,3); // [1,2,3]
            numbers.splice(0,3); // [4,5]
            numbers.splice(0,3); // []

            // pure, has no side effect
            numbers.slice(0,3); // [1,2,3]
            numbers.slice(0,3); // [1,2,3]
            numbers.slice(0,3); // [1,2,3]

            // impure
            var minimum = 21;
            var checkAge = function(age) {
                return age >= minimum;
            };
            // pure
            var checkAge = function(age) {
                var minimum = 21;
                return age >= minimum;
            };
