#recursion.step(
    data-rotate-x=-90
    data-rotate-y=0
    data-rotate-z=90
    data-y=2000
    data-scale=50
)
    h1 Recursion
    h2 When a function can call itself
    h3
        | Sometimes simple loops cannot provide a solution or make it hard
        br
        | Just try to implement tree traversal (e.g: document.getElementsByTagName)
        br
        | or an async recursion (e.g: ajax polling)
    p (recursive functions must have an exiting condition)
    pre
        code.javascript.
            var greatestCommonDenominator = function(a, b) {
                if (b == 0) {
                    return a;
                } else {
                    return greatestCommonDenominator(b, a % b);
                }
            }
            greatestCommonDenominator(36, 48) // 12
            greatestCommonDenominator(224, 96) // 32

            var findSolution = function(target) {
                var find = function(start, history) {
                    if (start == target) {
                        return history;
                    } else if (start > target) {
                        return null;
                    } else {
                        return find(start + 5, '(' + history + ' + 5) ') || find(start * 3, '(' + history + ' * 3) ');
                    }
                }
                return find(1, '1');
            }

            console.log(findSolution(8)); // ((1 * 3)  + 5)
            console.log(findSolution(57)); // (((((1 * 3)  * 3)  + 5)  + 5)  * 3)
