#referential-transparency.step(
    data-rotate-x=90
    data-rotate-z=90
    data-x=-1000
    data-z=-5000
    data-scale=5
)
    h1
        | Referential
        br
        | transparency
    h2
        | Pure functions can always
        br
        | be replaced by their results
    h3
        | Pure functions always giving the same output
        br
        | if they are called with the same input
    pre
        code.javascript.
            // Pure, referentially transparent
            Math.cos(Math.PI) === -1;

            // impure
            Date();
            Math.random();

            // Pure, referentially transparent
            var multiply = function(a,b){
                return a*b;
            }

            var num1 = multiply(2,3) + multiply(4,5);
            var num2 = 6 + multiply(4,5);
            var num3 = 6 + 20;

            console.log(num1 === num2); // true
            console.log(num1 === num3); // true
            console.log(num2 === num3); // true
