#what-is-fp.step(
    data-rotate-x=90
    data-rotate-y=90
    data-z=-4000
    data-scale=10
)
    h1
        | What is
        br
        | functional
        br
        | programming?
    br
    h2 Functional programming
    h3 is like describing your task to a mathematician.
    br
    h2 Imperative programming
    h3 is like giving exact instructions to someone who has no idea what to do or how to do.
