#what-is-a-side-effect.step(
    data-rotate-x=0
    data-rotate-y=90
    data-rotate-z=-90
    data-scale=15
)
    h1
        | What is
        br
        | a side effect?
    h2 If a function
    ul
        li modifies a global variable
        li modifies its arguments
        li
            | modifies what is displayed on the screen
            br
            | (manipulates DOM, drawing to canvas)
        li obtaining user input
        li write data to file
        li read data from file
