#what-could-we-use-in-js-from-fp.step(
    data-rotate-x=0
    data-rotate-y=0
    data-rotate-z=90
    data-scale=5
)
    h1 What could we use
    h2 in javascript from functional programming?
    ul
        li no side effects
        li pure functions
        li referential transparency
        li immutable data
        li lazy evaluation
        li partial application
        li currying
        li composition
