#what-makes-a-lang-func.step(
    data-rotate-z=90
    data-x=8000
    data-y=-8000
    data-z=-2000
    data-scale=10
)
    h1
        | What makes
        br
        | a language
    h2 support functional programming style?
    ul
        li first-class functions
        li higher order functions
        li lambda functions
        li closure
        li recursion
